*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
/* ============================================================================== */
/* start navbar */
/* #001E6C #3876BF #FFAA4C #F3F0CA */
.navbar{
    width: 100%;
    height: 65px;
    background-color:#001E6C;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 1000;
}

.navbar img{
    height: 65px;
    margin-left: 10%;
    float: left;
}
.navbar ul{
    list-style: none;
    padding-top: 20px;
    margin-right: 10%;
    float: right;
}
.navbar ul li {
    display: inline;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 12px;
    cursor: pointer;
    position: relative;
    
}
.inactive-navitem{

    color: white;

    
}
.active-navitem{

    color: #FFAA4C;

    
}


/* Styling for the underline (pseudo-element) */
.navbar ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Position the line slightly below the text */
    width: 0; /* Start with 0 width */
    height: 2px; /* Thickness of the line */
    background-color: #FFAA4C; /* Color of the line */
    transition:  0.3s ; /* Smooth transition for the width */
  }
  
  /* Expand the line to full width on hover */
  .navbar ul li:hover::after {
    width: 100%; 
  }

/* end navbar */

/* ============================================================================== */

/* start hero */
.hero{
    margin-top: 65px;
    background-image: url(../images/Untitled.png) ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 65px);
    position: relative;


}
/* .hero img{
    width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
} */
.hero h1 {
    font-weight: bold;
    font-size: 60px;
    color: #001E6C;
    margin: 0 15px;
}

.hero button {
    margin: 0 15px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #FFAA4C;
    color: #001E6C;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    transition: .3s;

}
.hero button:hover {
    background-color: #001E6C;
    color: #FFAA4C;
}
.hero p {
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 1px;
    color: white;
    margin: 30px 15px;
    max-width: 80%;
}
.hero  .text
{
    text-align: left;
    color: white;
    

    width: 40%;

    position: absolute;
    top: 40%;
    left: 30%;
    
    transform: translate(-50%,-50%);
}
/* end hero */

/* ============================================================================== */
.container{
    width: 80%;
    margin: 0px auto;
    margin-bottom: 70px; /* Add space below the container */
}

h2{
    /* to mahe the title in the cnter of page */
    text-align: center;
    /* make title under the top of body by 50px */
    margin-top: 50px;
    font-size: 36px; 
   
}
hr{
    width: 200px; 
    height: 4px; 
    background: black; 
    border: none; 
    /* help to put the line in the center of page  */
    margin: 20px auto;
}
/* ============================================================================== */
/* start welcome */
.welcome-parent{
    margin-top: 70px;
    overflow: auto;
}
.welcome-box{
    float: left;
    /* background-color: gray; */
    width: 30%;
    text-align: center;
    padding: 6px;
    border: 1px solid #001E6C;
    position: relative;
}

.welcome-box::before{
    content: '';
    position: absolute;

    top: 0;
    left: 0;

    width: 0%;
    height: 0%;

    background-color: rgb(225, 170, 116,0.25);
    z-index: -1;
    transition: .5s;
}

.welcome-box:hover::before{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.welcome-box-2{
    margin:0px 5% ;
}
.welcome-box-image{
margin-top: 10px;
font-size: 48px;
color: #001E6C;
margin-bottom: 15px;
}
.welcome-box:hover .welcome-box-image {
    color: #001E6C;
}
.welcome-box-info{
    margin-bottom: 20px;
}

.welcome-box-info button{
    font-size: 18px;
    font-weight: bold;
    color: #001E6C;
    background-color: #FFAA4C;
    padding: 6px 10px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;

}
.welcome-box-info:hover button{
    color: #FFAA4C;
    background-color: #001E6C;
}
.welcome-box-info h3 {
    font-size: 26px;
    letter-spacing: 2;
    margin-bottom: 10px;
    color: #FFAA4C;
}
.welcome-box-info:hover h3 {
    color: #001E6C;
}
.welcome-box-info p {
    font-weight: bold;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 40px;
}
.welcome-box-info:hover p {
    color: #FFAA4C;
}
/* end welcome */
/* ============================================================================== */
/* start gallery */
.gallery{
    background-color: rgb(3, 81, 150, 0.2);
    padding: 10px 0px;
}
.gallery-parent{
    margin-top: 50px;
    overflow: auto;
}
.gallery-box{
    float: left;
    background-color: #5089C6;
    width: 30%;
    border: 1px solid rgba(250, 248, 248, 1);
    border-radius: 10px;
    /* height: 30%; */
    text-align: center;
    /* padding: 6px; */
    margin:10px 0px ;
    /* margin-bottom: 40px; */
    position: relative;
}

.gallery-box::before{
    content: '';
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 0%;

    background-color: rgb(3, 83, 151,0.4);/* rgb(225, 170, 116, 0.3);*/
 
    z-index: 1;
    transition: .5s;
}

.gallery-box:hover::before{
    height: 100%;
  

}

.gallery-box-2{
    margin:10px 5% ;
    /* margin-bottom: 40px; */
    
}

.gallery-box-image{
    width: 100%;
    /* height: fit-content; */
    margin: 0px auto;
    position: relative;
    color: white;
}

.gallery-box-image img{
    width: 100%;
    border-radius: 10px;
}

.gallery-box-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%,-50%);
    /* background-color: rgba(0, 0, 0, 0.306); */
    opacity: 0;
    transition: 0.5s;
    z-index: 1000;
}
.gallery-box:hover .gallery-box-overlay{
    opacity: 1;
}
.gallery-box-overlay h2{
    color: #FFAA4C;
    font-size: 46px;
    letter-spacing: 2;
    margin-bottom: -10px;
}
.gallery-box-overlay i {

    color: #001E6C;
    background-color: #FFAA4C;
    width: fit-content;
    cursor: pointer;
    padding: 9px;
    font-size: 22px;
    /* margin-left: auto; 
    line-height: 30px;*/
    border-radius: 5px;
    margin: 0px 10px;
}
.gallery-box-overlay p {
    margin-top: 10px;
    color: #f4f0f0;
    font-size: 22px;
    font-weight: bold;
}
/* end gallery */
/* ============================================================================== */
/* start services */
.services-parent{
    margin-top: 50px;
    overflow: auto;
}
.services-box{
    float: left;
    background-color: white;
    width: 30%;
    height: 250px;
    border: 1px solid #001E6C;
    border-radius: 10px;
    /* text-align: center; */
    padding: 6px;
    cursor: pointer;
    position: relative;
    margin:10px 0px ;
    padding-bottom: 70px;
    padding-top: 20px;
}

.services-box::before{
    content: '';
    position: absolute;

    top: 0;
    left: 0;

    width: 0%;
    height: 0%;

    background-color: rgb(80, 137, 198, 0.3);
    z-index: 10;
    transition: .5s;
}

.services-box:hover::before{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.service-title{
    height: 40px;
    background-color: #FFAA4C;
}

.services-box h3{
    position: absolute;
    left: 40;
    font-size: 28;
    font-weight: 200;
    color: #001E6C;
    /* margin-left: 35px; */
    margin-top: 5px;
    margin-bottom: 10px;
}
.services-box p{
    position: absolute;
    left: 40;
    /* top: 60px; */
    /* margin-left: 35px; */
    line-height: 2;
    font-size: 18px;
    letter-spacing: 2;
    font-weight: bold;
    margin-top: 20px;
}
.services-box i{
    position: absolute;
    left: 5px;
    top: 90px;
    font-size: 28px;
    /* width: fit-content; */
    color: black;
}
.services-box:hover h3{
    color: #FFAA4C;
  }
  .services-box:hover .service-title{
    background-color: #001E6C;
  }
  .services-box:hover p{
      color: #001E6C;
  }
  .services-box:hover i{
    color: #FFAA4C;
  }
  
.services-box-2{
    margin:10px 5% ;
}
.service-title


/* end services */
/* ============================================================================== */
/* start why */

.Why-choose-us{
    background-color: #3876BF;
    /* margin: 60px 0px; */
   
    padding-top: 10px;
}
.why-parent
{
    /* position: relative; */
     overflow: auto;
}
 .left{
 float: left;
 width: 60%;
 height: 70%;
 /* position: absolute; */
}
.left h2{
    font-size: 36px;
    letter-spacing: 3;
    color: black;
    text-align: left;
    margin-bottom: 20px;
    cursor: pointer;
}
.Why-choose-us .why-parent .left h2 span{
    

    position: relative;
    color: #FFAA4C;
    


   
}
.Why-choose-us .why-parent .left h2 span::before{
    
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 4px;
    background-color: #FFAA4C;
    
    z-index: 10;
    

   
}
 .left p{
    color: #FFAA4C;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
}
/* .left ul{
    position: absolute;
} */
.left li {
    font-size: 18px;
    padding: 5px 0px;

}
 .left li i{
    font-size: 18px;
    margin-right: 5px;
    color: #FFAA4C;
}
.right{
    float: right;
    
    width: 30%;
    margin-left: 10%;
    height: 300px;
    position: relative;
    height: 80%;
   
}
.right img{
    /* float: right; */
    width: 100%;
    height: 70%;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circles {
     position: absolute;
     top: 90%;
     margin: 0px auto;

    text-align: center;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    border-radius: 50%;
    background-color:white;
  }

  .active {
    background-color: #FFAA4C;
  }
  .circle:hover {
    background-color: #FFAA4C;
  }
/* end why */
/* ============================================================================== */
/* start icons */
.icons{
    width: 100%;
    height: 400px;
    background-image: url(../images/Premium\ Photo\ _\ Craftsman\ working.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 60px 0;
    position: relative;
    
}
.icons .container{
   padding-top: 100px;
}
.icons .container .box{
    width: 20%;
    text-align: center;
    float: left;
    color: #FFAA4C;
    /* z-index: 2; */
    position: relative;
  
}
.icons .container .box2{
    margin: 0 5%;
}
.icons .container .box i{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: solid 2px ;
    font-size: 40px;
    padding: 30px 30px;
    margin-bottom: 10px;
    transition: .5s;
}
.icons .container .box i:hover{
    background-color: #001E6C;
    transform: translateY(-5px);
    
}
.icons .container .box h3{
   
    font-size: 32px;
    color: white;
}
.icons .container .box p{
   
    font-size: 24px;
    color: white;
    font-weight: bold;
}
    
/* end icons */
/* ============================================================================== */
/* start pricing */
.pricing-parent{
    margin-top: 70px;
    overflow: auto;
}
.pricing-plan{
    float: left;
    background-color: white;
    border: 1px solid #001E6C;
    width: 30%;
    height: 425px;
    text-align: center;
    padding: 10px;
    position: relative;
    

}

.pricing-plan::before{
    content: '';
    position: absolute;

    top: 0;
    left: 0;

    width: 50%;
    height: 0%;

    background-color: rgb(56, 118, 191,0.2);
    /* z-index: 10; */
    transition: .5s;
}

.pricing-plan:hover::before{
    height: 100%;
}
.pricing-plan::after{
    content: '';
    position: absolute;

    bottom: 0;
    right: 0;
    width: 50%;
    height: 0%;

    background-color: rgb(56, 118, 191,0.2);
    /* z-index: 10; */
    transition: .5s;
}

.pricing-plan:hover::after{
    height: 100%;
}
.pricing-plan-2{
    margin:0px 5% ;
}
.pricing-box{
    color: #FFAA4C;
    border: 2px solid #FFAA4C;
    border-radius: 75px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
    /* margin-bottom: 12px;
    cursor: pointer; */
}

.pricing-plan button{
    position: relative;
    margin: 10px auto;
    font-size: 18px;
    font-weight: bold;
    color: #FFAA4C;
    background-color: white;
    padding: 2px 20px;
    border-radius: 5px;
    border: 1px solid #FFAA4C;
    cursor: pointer;
    z-index: 2000;

}
.pricing-plan button:hover{

    color: #001E6C;
background-color: #FFAA4C;
    border: 1px solid #FFAA4C;
    cursor: pointer;


}
.pricing-plan h3 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #FFAA4C;
}
.pricing-plan .info {
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 2;
    margin-bottom: 20px;
    width: 50%;

    left: 50%;
    transform: translate(50%);
}
.pricing-plan .pricing-box h3 {
    font-size: 40px;
    margin: 15px 0px;
    font-weight: bold;
    color: black;
}
.pricing-box .month {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* end pricing */

/* ============================================================================== */
/* start icons2 */

.icons2{
    width: 100%;
    height: 400px;
    background-image: url(../images/Premium\ Photo\ _\ Craftsman\ working.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 60px 0;
    position: relative;
}

.icons2 .container .left{
    width: 50%;
    max-width: 45%;
    float: left;
    color: white;
    position: relative;
    padding: 50px 0px;
    /* margin-right: 10%; */
}

.icons2 .container .left  img{
    width: 100px;
    height: 100px;
    border: 4px solid #001E6C;
    border-radius: 50px;
    position: absolute;
    left: 0px;
    top: 30%;
    transition: .5s;
  }
  .icons2 .container .left img:hover{

    border: 8px solid #FFAA4C;

  }
.icons2 .container .left  h3{
    font-size: 28px;
    margin-left: 120px;
    margin-top: 50px;
    /* margin-bottom: 10px; */
    /* display: inline; */
    /* position: absolute; */
    
  }
  .icons2 .container .left  span{
    margin-left: 120px;
    letter-spacing: 1px;
    color: #FFAA4C;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  .icons2 .container .left p{
    font-size: 18px;
    font-weight: lighter;
    color: white;
    margin-top: 50px;
    line-height: 1;
    width: 100%;
  }

  .icons2 .container .right{
    width: 50%;
    max-width: 45%;

    float: left;
    color: white;
    position: relative;
    padding: 50px 0px;
    /* margin-left: 5%; */
}

.icons2 .container .right img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 4px solid #001E6C;
    position: absolute;
    left: 40px;
    top: 40%;
    transition: .5s;
  }
  .icons2 .container .right img:hover{

    border: 8px solid #FFAA4C;

  }
.icons2 .container .right h3{
    font-size: 28px;
    margin-left: 110px;
    margin-top: 50px;
    /* margin-bottom: 10px; */
    /* display: inline; */
    /* position: absolute; */
    
  }
  .icons2 .container .right span{
    margin-left: 110px;
    letter-spacing: 1px;
    color: #FFAA4C;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  .icons2 .container .right p{
    font-size: 18px;
    font-weight: lighter;
    color: white;
    margin-top: 50px;
    line-height: 1;
    width: 100%;

  }



/* end icons */


/* ============================================================================== */
/* start team */
.team-parent{
    margin-top: 70px;
    overflow: auto;
}
.team-box{
    float: left;
    background-color:  rgb(3, 81, 150, 0.2);;
    width: 30%;
    text-align: center;
    padding: 15px;
    position: relative;
}

.team-box::before{
    content: '';
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 0%;

    background-color: rgb(25, 38, 85,0.4);
    z-index: 10;
    transition: 1s;
}

.team-box:hover::before{
    height: 100%;
    width: 100%;
}

.team-box-2{
    margin:0px 5% ;
}
.team-box-image{
    width: 90%;
    margin: 0px auto;
    position: relative;
    color: white;
}

.team-box-image img{
    width: 100%;
}

.team-box-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.306);
    opacity: 0;
    z-index: 100;
}
.team-box:hover .team-box-overlay{
    opacity: 1;
}

.team-box-overlay i {
    display: block;
    background-color: #FFAA4C;
    width: fit-content;
    max-width: 35px;
    cursor: pointer;
    padding: 9px;
    font-size: 24px;
    margin-left: auto;
    line-height: 30px;
   
}
.team-box-info h3{
    color: #FFAA4C;
    font-size: 28px;
}
.team-box-info p{
    color: #001E6C;
    font-size: 18px;
}
.team-box:hover:hover .team-box-info h3{
    color: #001E6C;
    font-size: 28px;
}
.team-box:hover:hover .team-box-info p{
    color: #FFAA4C;
    font-size: 18px;
}
/* end team */
/* ============================================================================== */
/* start news */
.news-parent{
    margin-top: 70px;
    overflow: auto;
}
.news-box{
    float: left;

    width: 30%;
    height: 600px;
    /* text-align: center; */
    padding: 6px;
    position: relative;
}

.news-box::before{
    content: '';
    position: absolute;

    bottom: 0;
    right: 0;

    width: 0%;
    height: 0%;

    background-color:  rgb(3, 81, 150, 0.2);;
    /* z-index: 10; */
    transition: 1s;
}

.news-box:hover::before{
    height: 50%;
    width: 100%;
}



.news-box::after{
    content: '';
    position: absolute;

    top: 0%;
    left: 0%;
    /* transform: translate(-50% ,-50%); */

    width: 0%;
    height: 0%;

    background-color:  rgb(3, 81, 150, 0.2);;

    /* z-index: 10; */
    transition: 1s;
}

.news-box:hover::after{
    height: 50%;
    width: 100%;
}

.news-box-2{
    margin:0px 5% ;
}

/* .news-box-image{
    width: 90%;
    margin: 0px auto;
    position: relative;
    color: white;
} */

.news-box img{
    width: 80%;
    height: 300px;
    display: block;
    margin-bottom: 10px;
}
.news-box .middle{
    margin: 0px 20px;
}
.news-box span i{
    color: #FFAA4C;
}
.news-box-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgb(3, 81, 150, 0.2);;
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}
.news-box:hover .news-box-overlay{
    opacity: 1;
  
}
.news-box h3{
   margin: 15px 0px;
   font-size: 28;

} 
.news-box p{
    font-size: 20;
    color: #999;
    line-height: 1.5;
    margin-bottom: 20px;
 } 
 .news-box button{
    position: absolute;
    color: #001E6C;
    background-color: #FFAA4C;
    padding: 10px 25px;
    border-radius: 15px;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
    margin-bottom: 20px;
    z-index: 100;

 } 
 .news-box button:hover{
    color: #FFAA4C;
    background-color: #001E6C;


 } 

/* ============================================================================== */

/* start footer */

.footer{
    width: 100%;
    height: 350px;
    background-color: #001E6C;
   position: relative;
    /* margin-top: 70px; Add space below the container */
    
}
.footer .content {
    color: #FFAA4C;
    font-size: 24px;
    width: 40%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.footer .content img{
    width: 300px;
    display: block;
    margin: 20px auto;

}
.footer .content p{
    margin-top: 10px;
    margin-bottom: 30px;
    color: #FFAA4C;
    font-size: 16px;

}
.footer .content i{
    transition: .3s;
    
}
.footer .content i:hover{
    transform: translateY(-3px);
    
}
/* end footer */